.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}
.contact-info h2 {
    font-size: 1.6vw;
    font-weight: 800;
    color: var(--clr-neutral-900);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5vw;
}

.contact-info h2 span:first-child {
    color: var(--mainColor);
}

.contact-info h2 span:last-child {
    color: var(--mainColorLight);
    font-size: 2.5vw;
}

.contact-information-container {
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.contact-information-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.contact-information-container ul li {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.contact-information-container ul li div {
    background-color: var(--darkBlueColor);
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color: var(--clr-neutral-100);
}

.contact-information-container ul li article {
    font-size: 1.2vw;
    font-weight: 500;
}

.contact-information-container ul li article a {
    color: var(--clr-neutral-900);
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

.contact-information-container ul li article a:hover {
    color: var(--mainColorLight);
}

.social-media-container ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.social-media-container ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.social-media-container ul li i {
    color: var(--darkBlueColor);
    font-size: 3vw;
    font-weight: 600;
    text-decoration: none;
    transition: all 500ms ease-in-out;
}

.social-media-container ul li:first-child i {
    color: #4267B2;
}

.social-media-container ul li:nth-child(2) i {
    color: #0077B5;
}

.social-media-container ul li:hover i {
    color: var(--mainColor);
}

@media only screen and (max-width: 1000px) {
    .contact-info h2 {
        font-size: 3vw;
    }

    .contact-info h2 span:last-child {
        font-size: 4.5vw;
    }

    .contact-information-container ul li div {
        width: 7vw;
        height: 7vw;
        font-size: 3vw;
    }

    .contact-information-container ul li article {
        font-size: 3vw;
    }

    .social-media-container ul li i {
        font-size: 6vw;
    }
}

@media only screen and (max-width: 500px) {
    .contact-info h2 {
        font-size: 2.5rem;
    }

    .contact-info h2 span:last-child {
        font-size: 3.5rem;
    }

    .contact-information-container ul li div {
        width: 12vw;
        height: 12vw;
        font-size: 5vw;
    }

    .contact-information-container ul li article {
        font-size: 3vw;
    }

    .social-media-container ul li i {
        font-size: 8vw;
    }
}