header {
    padding: 1rem;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    font-size: 1.2rem;
    position: fixed;
    z-index: 20;
}

header img {
    width: 20vw;
}

header nav ul {
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header nav img {
    display: none;
}

header nav ul div {
    display: flex;
    gap: 1.5vw;
    margin-right: 2rem;
}

header nav ul li {
    transition: 400ms ease-in;
}

header nav ul li .navbar-link{
    text-decoration: none;
    color: white;
    transform: scale(1);
    transition: all 400ms ease-in;
    font-size: 1.3vw;
}

header nav ul li .navbar-link:hover{
    color: var(--mainColorLight);
}

header nav ul li:hover {
    transform: scale(1.1);
}

header nav ul .contact-btn {
    background-color: var(--textColor);
    outline: none;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    transition: 400ms ease-in;
    font-size: 1.4vw;
    text-decoration: none;
    color: var(--clr-neutral-900);
}

header nav ul .contact-btn:hover {
    background-color: var(--mainColorLight);
    color: var(--textColor);
    cursor: pointer;
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    display: none;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

header.active .nav-btn {
    color: var(--mainColor)
}

.navbar {
    transition: 400ms ease-in;
}

header.active {
    background-color: white;
}

header.active nav ul li a {
    transition: 400ms ease-in;
    color: var(--mainColor);
}

header.active nav ul li a:hover {
    color: var(--mainColor);
}

header.active nav ul .contact-btn {
    color: var(--textColor);
    background-color: var(--mainColorLight);
    transition: 400ms ease-in;
}

header.active nav ul .contact-btn:hover {
    background-color: var(--mainColor);
    color: var(--textColor);
}

header.navbar a img.integra-img {
    width: 300px;
}

.li-services-container {
    position: relative;
}

.servicios-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    visibility: hidden;
    width: 14vw;
    opacity: 0;
    position: absolute;
    padding: 1vw;
    top: 3vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 20;
    transition: all 600ms ease-in;
    background-color: rgba(0, 0, 0, 0.6);
    gap: .5vw;
    border-top: .5vw solid var(--mainColorLight);
}

header.active .servicios-popup {
    background-color: white;
}

.servicios-popup a {
    text-decoration: none;
    color: white;
    font-size: 1.1vw;
    text-align: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

header.active .servicios-popup a {
    color: var(--mainColor);
}

header.active .servicios-popup a:hover {
    color: var(--mainColorLight);
}

.servicios-popup a:hover {
    color: var(--clr-neutral-85);
}

.servicios-popup-active {
    visibility: visible;
    opacity: 1;
    z-index: 10;
}

@media only screen and (max-width: 1200px) {
    .servicios-popup {
        width: 17vw;
    }
    .servicios-popup a {
        font-size: 1.4vw;
    }
    header nav ul li .navbar-link{
        font-size: 1.7vw;
    }
    header nav ul .contact-btn {
        font-size: 1.7vw;
    }
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        display: block;
        visibility: visible;
        opacity: 1;
    }
    header .nav-btn svg {
        fill: var(--textColor);
    }
    header.active .nav-btn svg {
        fill: var(--mainColor);
    }
    header {
        display: flex;
        gap: 1.5rem;
        padding: 2rem 2rem;
    }
    header nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: -150vh;
        left: 0;
        height: 100%;
        width: 100%;
        gap: 1.5rem;
        transition: 1s;
        background-color: var(--mainColor);
        z-index: 10;
    }

    header.navbar a img.integra-img-first {
        width: 40vw;
    }

    header.navbar a img.integra-img {
        width: 70vw;
    }    

    header.active nav {
        background-color: white;
    }

    header nav img {
        display: block;
        width: 250px;
    }
    header nav div ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    header nav div ul div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    header .responsive_nav {
        transform: translateY(150vh);
    }
    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav .nav-close-btn svg {
        fill: var(--textColor);
    }

    header.active nav .nav-close-btn svg{
        fill: var(--mainColor);
    }

    nav a{
        font-size: 1.5rem;
    }

    .servicios-popup-active {
        visibility: hidden;
        opacity: 0;
    }

    header nav ul li .navbar-link{
        font-size: 4.5vw;
    }
    header nav ul .contact-btn {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 400px) {
    header.navbar a img.integra-img-first {
        width: 50vw;
    }
}

@media screen and (max-width: 310px) {
    header.navbar a img.integra-img {
        width: 90vw;
    }    
    header nav ul li .navbar-link{
        font-size: 7vw;
    }
    header nav ul .contact-btn {
        font-size: 7vw;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    header nav div ul div {
        display: flex;
        gap: .2vw;
        flex-direction: row;
        flex-wrap: wrap;
    }
    header nav ul li .navbar-link{
        font-size: 2.5vw;
    }
    header nav ul .contact-btn {
        font-size: 2.5vw;
    }
    header.navbar a img.integra-img {
        width: 40vw;
    } 
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
    header nav ul li .navbar-link{
        font-size: 2.8vw;
    }
    header nav ul .contact-btn {
        font-size: 2.8vw;
    }
    header nav ul li {
        gap: 0.6vw;
    }
    header nav ul button {
        font-size: 1.2vw;
    }
}

@media only screen and (max-width: 500px) and (orientation: landscape) {
    header nav ul li .navbar-link{
        font-size: 4vw;
    }
    header nav ul .contact-btn {
        font-size: 4vw;
    }
}
