.projects-section {
    padding-block: 3rem;
}

.projects-section h2 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--mainColor);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: relative;
}

.card_container {
    padding-block: 3rem;
}

.card__content {
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card__article {
    border-radius: 1.25rem;
    overflow: hidden;
    height: 100%;
}

.card__image {
    position: relative;
    background-color: var(--darkSeaColor);
    padding-top: 2rem;
    margin-bottom: -.75rem;
}

.card__data {
    background-color: var(--skyLightColor);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
}

.card__img {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.card__shadow {
    width: 200px;
    height: 200px;
    background-color: var(--mainColorLightHover);
    border-radius: 50%;
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    filter: blur(45px);
}

.card__name {
    font-size: 1.25rem;
    color: var(--sandColor);
    margin-bottom: .75rem;
}

.card__description {
    font-weight: 800;
    margin-bottom: 1.75rem;
    color: var(--darkSeaColor);
    font-size: 1rem;
}

.card__button {
    display: inline-block;
    background-color: var(--mainColorLightHover);
    padding: .75rem 1.5rem;
    border-radius: .25rem;
    color: var(--darkSeaColor);
    font-weight: 600;
    text-decoration: none;
}

/*Swiper class*/

.swiper-button-prev,
.swiper-button-next {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: var(--mainColor);
    display: none;
    z-index: 0;
}

.swiper-button-prev {
    left: 3rem;
}

.swiper-button-next {
    right: 3rem;
}

.swiper-pagination-bullet {
    background-color: var(--mainColorLightHover);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--mainColor);
}

/*BREAKPOINTS*/

/*For small devices*/
@media screen and (max-width: 320px) {
    .card__data {
        padding: 1rem;
    }
}

/*For medium devices*/
@media screen and (min-width: 768px) {
    .card__content {
        margin-inline: 10rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }
}

/*For larger devices*/
@media screen and (min-width: 1120px) {
    .card__container {
        max-width: 1120px;
    }
    .swiper-button-prev {
        left: 5rem;
    }
    .swiper-button-next {
        right: 5rem;
    }
}