.projects-section {
    padding-block: 3rem;
}

.container {
    width: 100vw;
    position: relative;
}

.card_container {
    padding-block: 3rem;
    height: 440px;
    max-height: 100%;
}

.card__content {
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    overflow: hidden;
}

/* NEW STYLES */

.card {
    color: var(--clr-neutral-100);
    background-size: cover;
    padding: 8.5rem 0 0;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.card-content {
    position: absolute;
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(hsl(0 0% 0% / 0),
            hsl(20 0% 0% / .3) 20%,
            hsl(0 0% 0% / .6));
    text-align: left;
    height: 61%;
    width: 100%;
}

.card__title {
    position: relative;
    width: max-content;
    font-size: 1.5rem;
}

.card__title::after {
    content: '';
    position: absolute;
    left: calc(var(--padding) * -1);
    bottom: -2px;
    height: 4px;
    width: calc(100% + var(--padding));
    background: var(--mainColorLightHover);
    transform-origin: left;
    transition: transform 500ms ease;
}

.card:hover .card__title::after {
    transform: scaleX(1);
}

.card__body {
    color: rgb(255 255 255 / 0.8);
    padding: 0.4rem 0;
    font-size: 1.2rem;
    height: 55%;
    font-weight: 600;
    overflow: hidden;
}

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--mainColorLightHover);
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
    font-weight: 600;
}

.button:hover,
.button:focus {
    background-color: var(--clr-neutral-100);
    color: var(--mainColorLight);
}

/* For no motion devices */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.1ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}

/* For hover allowed devices */

@media(hover) {
    .card-content {
        transform: translateY(65%);
        transition: transform 300ms ease;
    }

    .card:hover .card-content,
    .card:focus-within .card-content {
        transform: translateY(0);
        transition-delay: 300ms;
    }

    .card:focus-within .card-content {
        transition-duration: 0ms;
    }

    .card-content>*:not(.card__title, .button) {
        opacity: 0;
        transition: opacity 300ms linear;
    }

    .card:hover .card-content>*:not(.card__title),
    .card:focus-within .card-content>*:not(.card__title) {
        opacity: 1;
    }

    .card__title::after {
        transform: scaleX(0);
    }

    .button {
        transition: all 500ms ease;
    }
}

/*Swiper class*/

.swiper-button-prev,
.swiper-button-next {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: var(--mainColor);
    display: none;
    z-index: 0;
}

.swiper-button-prev {
    left: 3rem;
}

.swiper-button-next {
    right: 3rem;
}

.swiper-pagination-bullet {
    background-color: var(--mainColorLightHover);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--mainColor);
}

/*BREAKPOINTS*/

/*For medium devices*/
@media screen and (max-width: 1019px) {
    .card__body {
        font-size: 1rem;
    }
}

/*For small devices*/

@media screen and (max-width: 635px) {
    .card__body {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 600px) {
    .card__body {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 400px) {
    .card__data {
        padding: 1rem;
    }
    .card__body {
        font-size: 0.8rem;
    }
}


@media screen and (min-width: 1020px) {
    .card__title {
        font-size: 1.3rem;
    }
    .card {
        padding: 9rem 0;
    }
    .card__body {
        font-size: 0.9rem;
        height: 55%;
    }
    .card__content {
        margin-inline: 6rem;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }
}

/*For larger devices*/

@media screen and (min-width: 1440px) {
    .card__container {
        max-width: 1120px;
    }
    .swiper-button-prev {
        left: 5rem;
    }
    .swiper-button-next {
        right: 5rem;
    }
    .card__body {
        font-size: 1.2rem;
        height: 55%;
    }
    .card {
        padding: 7.5rem 0;
    }
    .card__title {
        font-size: 1.7rem;
    }
    .card-content {
        height: 65%;
    }
    .card__content {
        margin-inline: 10rem;
    }
}