@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

*::selection {
  background-color: var(--mainColorLight);
  color: white;
}

body {
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
  min-width: 100vw;
}

:root {
  --mainColor: #45495a;
  --mainColorLight: #5767aa;
  --mainColorLightHover: #6f7fc7;
  --textColor: #eee;
  --darkSeaColor: #012E40;
  --seaColor: #024959;
  --lightSeaColor: #026773;
  --skyLightColor: #3CA6A6;
  --sandColor: #F2E3D5;
  --darkBlueColor: #26266F;
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-85: hsl(0, 0%, 85%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
  --gap-scroller-inner: 5rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--mainColorLight);
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--mainColorLightHover);
}

::-webkit-scrollbar-track {
  background: var(--mainColor);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.heading-2 {
  font-size: 3.5vw;
  text-align: center;
  color: var(--mainColor);
  margin-bottom: 2rem;
}

svg {
  fill: #000000;
}